@model List<CardViewModel>

<h2>Selected Cards</h2>
<div class="row">
    @foreach(var card in Model)
    {
        <div class="col-3 card-container">
            <img src="~/Images/@card.CardImage" />
        </div>
    }
</div>
